* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: clear sans, helvetica neue, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ede5dd;
    /* height: 100vh; */
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ede5dd;
    padding: 5vmin 5vmin;
    padding-top: 5vmin;
    border-radius: 10px;
    position: relative;
    height: 100vh;
    /* width: 100vw; */
}

header {
    display: none;
    text-align: start;
    width: 100%;
    padding: 0%;
}

.titleText{
    text-align: start;
    width: 50%;
}

.score-Button{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    flex-wrap: wrap;
    gap: 1.2rem;
    width: 100%;
    position: relative;
}

.scoreBox {
    background-color: #BBADA0;
    padding: 3% 6%;
    border: 1px solid rgb(58, 28, 7);
    border-radius: 8%;
    margin-bottom: 3%;
    font-size: large;
}

#newGame{
    width: 80%;
    margin-bottom: 10%;
    border-radius: 5px;
    padding: 5% 8%;
    outline: none;
    background-color: #8F7A66;
    border: 1px solid rgb(58, 28, 7);
    font-size: large;
    font-weight: 600;
}

#startGame{
    width: max-content;
    height: max-content;
    margin-bottom: 10%;
    border-radius: 5px;
    padding: 10% 10%;
    outline: none;
    background-color: #ca8e56;
    border: 1px solid rgb(58, 28, 7);
    font-size: large;
    font-weight: 600;
}
h1 {
    color: rgb(114, 103, 103);
    font-size: 9vmin;
    display: block;
}

h3 {
    color: rgb(243, 241, 241);
    font-size: large;
    text-align: center;
}

#gameBoard {
    /* --grid-size: 4;
    --cell-size: 20vmin;
    --cell-gap: 2vmin; */
    display: none;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #BBADA0;
    gap: var(--cell-gap);
    border: 1vmin solid #BBADA0;
    border-radius: 10px;
    padding: 2vmin;
    position: relative;
}

.cell {
    background: #CDC1B4;
    border-radius: 1vmin;
}

.tile {
    /* --x: 0;
    --y: 0;
    --text-lightness: 80%; */
    /* --background-lightness: 60%; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    /* background: rgb(139, 89, 74); */
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-size: 7vmin;
    font-weight: 600;
    background-color: hsl(11, 90%, var(--background-lightness));
    color: hsl(10, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}


@media  (max-width: 700px) {
    header{
        padding: 5%;
    }
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}