* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: clear sans, helvetica neue, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    background: rgb(32, 28, 28);
    height: 100vh;
}

.container {
    background: #ede5dd;
    padding: 5vmin 5vmin;
    padding-top: 5vmin;
    border-radius: 10px;
    position: relative;
}

header {
    text-align: start;
}

.titleText{
    text-align: start;
    width: 70%;
}

.score-Button{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: relative;
}

.score-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10%;
    gap: 3%;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.scoreBox {
    background-color: #BBADA0;
    padding: 3% 7%;
    border: 1px solid rgb(58, 28, 7);
    border-radius: 8%;
    margin-bottom: 5%;
}

button{
    width: 90%;
    margin-bottom: 10%;
    border-radius: 5px;
    padding: 5% 8%;
    outline: none;
    background-color: #8F7A66;
    border: 1px solid rgb(58, 28, 7);
    font-size: large;
    font-weight: 600;
}
h1 {
    color: rgb(114, 103, 103);
    font-size: 9vmin;
    display: block;
}

h3 {
    color: rgb(243, 241, 241);
    font-size: medium;
    text-align: center;
}

#gameBoard {
    /* --grid-size: 4;
    --cell-size: 20vmin;
    --cell-gap: 2vmin; */
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #BBADA0;
    gap: var(--cell-gap);
    border: 1vmin solid #BBADA0;
    border-radius: 10px;
    padding: 2vmin;
    position: relative;
}

.cell {
    background: #CDC1B4;
    border-radius: 1vmin;
}

.tile {
    /* --x: 0;
    --y: 0;
    --text-lightness: 80%; */
    /* --background-lightness: 60%; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    /* background: rgb(139, 89, 74); */
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-size: 4vmin;
    font-weight: normal;
    background-color: hsl(11, 90%, var(--background-lightness));
    color: hsl(10, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}